/* CONTAINER */
.ag-bg-primary {
  background-color: #6750a4;
}

.ag-bg-secondary {
  background-color: #564f64;
}

.ag-bg-secondary-light {
    background-color: #F6EEFF;
  }

.ag-on-mobile {
  display: block;
}

.ag-on-desktop {
  display: none;
}

@media (min-width: 1200px) {
  .ag-container-100 {
    height: 100vh;
  }

  .ag-container-70 {
    height: 70vh;
  }

  .ag-on-desktop {
    display: block;
  }

  .ag-on-mobile {
    display: none;
  }
}

/* CARD */
.ag-card {
    /* border: solid 1px #6750a4; */
    border: none;
    border-radius: 10px;
    background-color: white;
}

.ag-card-outline {
    /* border: solid 1px #6750a4; */
    border: 3px solid #6750a4;
    border-radius: 10px;
    background-color: white;

}

.ag-card:hover, .ag-card-outline:hover {
    box-shadow: 2px 4px 35px rgba(117, 121, 255, 0.18);
    border: none;
}

/* TYPOGRAPHY */
.display-1,
.display-2,
.display-3,
.display-4 {
  font-family: "Roboto", sans-serif;
}

.display-1 {
  font-size: calc(0.7rem + 4.5vw);
  font-weight: 700;
  line-height: 1.2;
}

.display-2 {
  font-size: calc(1rem + 4vw);
  font-weight: 500;
}

.display-3 {
  font-size: calc(0.5rem + 3.3vw);
  font-weight: 400;
}

.display-4 {
    font-size: calc(0.5rem + 3.3vw);
    font-weight: 400;
  }

.display-body {
    font-size: calc(0.5rem + 3vw);
    font-weight: 400;
}

.display-card {
    font-size: calc(0.3rem + 3vw);
    font-weight: 400;
}

@media (min-width: 1200px) {
  .display-1 {
    font-size: 3rem;
  }

  .display-2 {
    font-size: 3rem;
  }

  .display-3 {
    font-size: 2rem;
  }

  .display-4 {
    font-size: 1.5rem;
  }

  .display-body {
    font-size: 1.25rem;
  }

  .display-card {
    font-size: 1rem;
  }
}

.ag-text-primary {
  color: #6750a4;
}

.ag-text-secondary {
  color: #49454e;
}

/* BUTTON */
.ag-btn-primary,
.ag-btn-outline-primary {
  color: white;
  border: 2px solid #6750a4;
}

.ag-btn-primary {
  background-color: #6750a4;
}

.ag-btn-primary:hover {
  background-color: #ded7f4;
  border: 2px solid #6750a4;
  color: #6750a4;
}

.ag-btn-outline-primary {
  background-color: white;
  color: #6750a4;
}

.ag-btn-outline-primary:hover {
  color: #ded7f4;
  background-color: #6750a4;
  border: 2px solid #ded7f4;
}

/* HERO */
.ag-hero-img {
  width: 80vw;
}

@media (min-width: 1200px) {
  .ag-hero-img {
    width: 40vw;
  }
}

/* ABOUT */
.ag-about-img {
  width: 80vw;
}

@media (min-width: 1200px) {
  .ag-about-img {
    width: 40vw;
  }
}


/* EXPERTISE */
.divider {
    border-bottom: 1px solid #cecbda;
    width: 100%;
    margin: 0 auto;
}

.ag-expertise-img {
    width: 75px;
}


/* PORTFOLIO */

/* CONTACT */
.ag-contact-img {
    width: 60px;
    height: 60px;
}



